version: "3.9"

services:
  web:
    build: .
    container_name: web
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - uploads:/tmp/uploads

  worker:
    build: .
    container_name: worker
    command: celery -A tasks.celery_app.celery worker --loglevel=info
    depends_on:
      - redis
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - uploads:/tmp/uploads

  redis:
    image: redis:7
    container_name: redis

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: acme
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  uploads:
  postgres_data: