databases:
  - name: acme-db
    plan: free
    databaseName: acme_db
    user: acme_user

services:
  - type: redis
    name: acme-redis
    plan: free
    ipAllowList: []
    maxmemoryPolicy: noeviction

  - type: web
    name: acme-web
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: acme-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: acme-redis
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: acme-redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: acme-redis
          property: connectionString

    healthCheckPath: /health
